* {
  margin: 0%;
  padding: 0%;

}.cabecalho {
  padding: 2% 0% 0% 9.5%;

}.cabecalho_link {
  font-family: "Coiny", system-ui;
  font-style: normal;
 font-size: 18px;
 text-decoration: none;
 color: #FAEBD7;
 padding: 1%;
  
}.cabecalho_link:hover{
  color: #faddb8;
  text-decoration:underline;

} body {
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #B87B5C;

} h1 {
  color: #FAF9F5;
}.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5% 10%;

}.principal_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5% 10%;

}.principal_titulo {
  font-family: "Coiny", system-ui;
  font-style: normal;
 font-size: 36px;

}.principal_titulo_2 {
  font-family: "Coiny", system-ui;
  font-style: normal;
 font-size: 36px;

}.principal_paragrafo {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding-right: 30px;
  padding-bottom: 30px;


  }.principal_paragrafo_2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding-right: 30px;
  padding-bottom: 30px;

}.hyperlinks {
  display: flex;
  flex-direction: column;
  width: 615px;
  gap: 40px;
  align-items: center;
  color:aliceblue;
   font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  
 
}.apresentacao_links{
  display: flex;
   flex-direction: column;
   align-items: center ;
  justify-content: space-evenly;
gap: 36px;
  
}.apresentacao_links_link{
  width: 240px;
  background-color: #8F9562;
  color: #ccd39a;
  border: #8F9562;
  border-radius: 20px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  
}.apresentacao_links_link:hover{
  background-color: #faddb8;
  color:#B87B5C;
  border: #B87B5C;
  border-radius: 20px;

}.negrito {
  color:#ccd39a;

} p {
  color: #FAEBD7

} header {
    color:bisque

  } img {
    height: 500px;

  } .hyperlinks{  
    font-family: "Coiny", system-ui;
  font-style: normal;
 font-size: 36px;

  } a {
    color: #faddb8;

}.rodape{
    background-color: #ccd39a;
    direction: flex;
    font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;

  }.rodape_texto{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  color: #8F9562;
  font-size: 400;
  }